{%extends 'base.html'%}

{%block main_block%}
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
    <form action=""method="post" class="border border-dark border-2 p-4 rounded rounded-4 shadow">
        <h1 align="center" class=""><b>Edit Transaction</b></h1>
        {%csrf_token%}
        
        <div class="row">
            <div class="col-6">
                <label for="">Enter Title</label>
                {{form.title}}
            </div>
            <div class="col-6">
                <label for="">Enter Amount</label>
                {{form.amount}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="">Select Category</label>
                {{form.category_obj}}
            </div>
            <div class="col-6">
                <label for="">Enter Payment Method</label>
                {{form.payment_method}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="">Enter Owner Name</label>
                {{form.owner}}
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Edit</button>
    </form>
</div>
<div class="col-2"></div>
</div>
{%endblock%}